Content/StarterContent/
Intermediate/
Saved/
Binaries/
ShootMeAround.VC.VC.opendb
ShootMeAround.VC.db
ShootMeAround.sln
.vs/ShootMeAround/v14/.suo
Resources/
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
.vs/ShootMeAround/v15/.suo
.vs/ShootMeAround/v15/Browse.VC.db
.vs/ShootMeAround/v15/Solution.VC.db
.vs/ShootMeAround/v15/Solution.VC.db-shm
.vs/ShootMeAround/v15/Solution.VC.db-wal
.vs/ShootMeAround/v15/ipch/AutoPCH/SHOOTMEAROUND-f842963f/SHOOTMEAROUNDGAMEVIEWPORTCLIENT-5483b583/SHOOTMEAROUNDGAMEVIEWPORTCLIENT.ipch
